[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awswrangler = "*"
sklearn = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"
seaborn = "*"

[requires]
python_version = "3.9"
